
body{

    background-image: url(images/5630939.jpg);  
    object-fit: cover ;
    width: 100%;
    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 40px;
    
}
body h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-top: 10px;
    color: #fa0505;
    

}
body input{
    padding: 8px 60px;
    border-radius: 20px;
       
}

#add-btn{
    margin-left: 455px;
    padding: 7px;
    width: 50px;
    background-color: rgb(104, 167, 243);
    border: solid black 2px;
    border-radius: 45px;
    font-size: 90%;
    
}
#todo-list li{
    margin: 20px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}
span{
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#todo-input{
    width: 256px;
    height: 22px;
    background-color: aliceblue;
    font-size: 16px;
    font-style: italic;
}

#todo-list{
    border: rgba(0, 0, 0, 0.568) solid 2px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-radius: 6%;
    background-color: aliceblue;

}
button{
    padding: 6px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: #e70000;
    font-size: 60%;
    color: rgb(249, 247, 245);
    font-style: oblique;
    

}   

li{
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 2px #d4316f solid;
    border-radius:27px;
    
    
}




    